body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
}

.login-form {
  width: 100%;
}

#email::placeholder {
  color: gray;
}

#password::placeholder {
  color: gray;
}
